.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 0px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 0px;
}

html,
body {
  overflow-x: hidden;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body *,
*::after,
*::before {
  box-sizing: border-box;
  font: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a,img,svg {
  display: inline-block;
}

a {
  text-decoration: none;
}

svg {
  vertical-align: middle;
  font-size: 0;
}

input,
button,
textarea,
select {
  border: none;
  background: none;
  padding: 0;
  appearance: none;
  outline: none;
}

button {
  cursor: pointer;
}

textarea {
  resize: none;
}

img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  object-fit: cover;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
