:root {
  --rem: 13;
}

$container: calc(1110px + 24px);
$btn-hz-p: calc(30 / var(--rem) * 1rem);

$green: #40AC6C;
$green2: #29864F;
$black: #202020;
$gray: #777777;
$gray2: #D6D6D6;
$gray3: #F8F8F8;
$gray4: #828282;
$white: #FEFEFE;
$blue: #0F4C6E;
$blue2: #BED4DC;
$gray-gradient: linear-gradient(180deg, #EDEFF3 0%, #EDEDED 100%);
$blue-gradient: linear-gradient(180deg, #0F4C6F 0%, #0B3D59 100%);

// Title
$fsz-1199: 0.85;
$fsz-991: 0.75;
$fsz-767: 0.65;
$fsz-576: 0.5;

$fsz-title-1199: 0.75;
$fsz-title-991: 0.65;
$fsz-title-767: 0.5;
$fsz-title-576: 0.4;

%bold-80-inter {
  $fsz: calc(80 / var(--rem) * 1rem);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: $fsz;
  line-height: 106%;
  @media (max-width: 1199px) {
    font-size: calc($fsz * $fsz-title-1199);
  }
  @media (max-width: 991px) {
    font-size: calc($fsz * $fsz-title-991);
  }
  @media (max-width: 767px) {
    font-size: calc($fsz * $fsz-title-767);
  }
  @media (max-width: 575px) {
    font-size: calc($fsz * $fsz-title-576);
  }
}

%bold-65-inter {
  $fsz: calc(65 / var(--rem) * 1rem);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: $fsz;
  line-height: 115%;
  @media (max-width: 1199px) {
    font-size: calc($fsz * $fsz-title-1199);
  }
  @media (max-width: 991px) {
    font-size: calc($fsz * $fsz-title-991);
  }
  @media (max-width: 767px) {
    font-size: calc($fsz * $fsz-title-767);
  }
  @media (max-width: 575px) {
    font-size: calc($fsz * $fsz-title-576);
  }
}

%semibold-48-inter {
  $fsz: calc(48 / var(--rem) * 1rem);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: $fsz;
  line-height: 125%;
  @media (max-width: 1199px) {
    font-size: calc($fsz * $fsz-title-1199);
  }
  @media (max-width: 991px) {
    font-size: calc($fsz * $fsz-title-991);
  }
  @media (max-width: 767px) {
    font-size: calc($fsz * $fsz-title-767);
  }
  @media (max-width: 575px) {
    font-size: calc($fsz * $fsz-title-576);
  }
}

// Text

%semibold-38-inter {
  $fsz: calc(38 / var(--rem) * 1rem);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: $fsz;
  line-height: 139%;
  @media (max-width: 1199px) {
    font-size: calc($fsz * $fsz-1199);
  }
  @media (max-width: 991px) {
    font-size: calc($fsz * $fsz-991);
  }
  @media (max-width: 767px) {
    font-size: calc($fsz * $fsz-767);
  }
  @media (max-width: 575px) {
    font-size: calc($fsz * $fsz-576);
  }
}

%semibold-32-inter {
  $fsz: calc(32 / var(--rem) * 1rem);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: $fsz;
  line-height: 144%;
  @media (max-width: 1199px) {
    font-size: calc($fsz * $fsz-1199);
  }
  @media (max-width: 991px) {
    font-size: calc($fsz * $fsz-991);
  }
  @media (max-width: 767px) {
    font-size: calc($fsz * $fsz-767);
  }
  @media (max-width: 575px) {
    font-size: calc($fsz * $fsz-576);
  }
}

%medium-30-inter {
  $fsz: calc(30 / var(--rem) * 1rem);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: $fsz;
  line-height: 130%;
  @media (max-width: 1199px) {
    font-size: calc($fsz * $fsz-1199);
  }
  @media (max-width: 991px) {
    font-size: calc($fsz * $fsz-991);
  }
  @media (max-width: 767px) {
    font-size: calc($fsz * $fsz-767);
  }
  @media (max-width: 575px) {
    font-size: calc($fsz * $fsz-576);
  }
}

%semibold-24-inter {
  $fsz: calc(24 / var(--rem) * 1rem);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: $fsz;
  line-height: 133%;
  @media (max-width: 1199px) {
    font-size: calc($fsz * $fsz-1199);
  }
  @media (max-width: 991px) {
    font-size: calc($fsz * $fsz-991);
  }
  @media (max-width: 767px) {
    font-size: calc($fsz * $fsz-767);
  }
  @media (max-width: 575px) {
    font-size: calc($fsz * $fsz-576);
  }
}

%medium-24-inter {
  $fsz: calc(24 / var(--rem) * 1rem);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: $fsz;
  line-height: 133%;
  @media (max-width: 1199px) {
    font-size: calc($fsz * $fsz-1199);
  }
  @media (max-width: 991px) {
    font-size: calc($fsz * $fsz-991);
  }
  @media (max-width: 767px) {
    font-size: calc($fsz * $fsz-767);
  }
  @media (max-width: 575px) {
    font-size: calc($fsz * $fsz-576);
  }
}

%medium-23-gilroy {
  $fsz: calc(23 / var(--rem) * 1rem);
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: $fsz;
  line-height: 139%;
  @media (max-width: 1199px) {
    font-size: calc($fsz * $fsz-1199);
  }
  @media (max-width: 991px) {
    font-size: calc($fsz * $fsz-991);
  }
  @media (max-width: 767px) {
    font-size: calc($fsz * $fsz-767);
  }
  @media (max-width: 575px) {
    font-size: calc($fsz * $fsz-576);
  }
}

%medium-22-gilroy {
  $fsz: calc(22 / var(--rem) * 1rem);
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: $fsz;
  line-height: 109%;
  @media (max-width: 1199px) {
    font-size: calc($fsz * $fsz-1199);
  }
  @media (max-width: 991px) {
    font-size: calc($fsz * $fsz-991);
  }
  @media (max-width: 767px) {
    font-size: calc($fsz * $fsz-767);
  }
  @media (max-width: 575px) {
    font-size: calc($fsz * $fsz-576);
  }
}

%regular-22-gilroy {
  $fsz: calc(22 / var(--rem) * 1rem);
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $fsz;
  line-height: 109%;
  @media (max-width: 1199px) {
    font-size: calc($fsz * $fsz-1199);
  }
  @media (max-width: 991px) {
    font-size: calc($fsz * $fsz-991);
  }
  @media (max-width: 767px) {
    font-size: calc($fsz * $fsz-767);
  }
  @media (max-width: 575px) {
    font-size: calc($fsz * $fsz-576);
  }
}

%semibold-21-gilroy {
  $fsz: calc(21 / var(--rem) * 1rem);
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: $fsz;
  line-height: 140%;
  @media (max-width: 1199px) {
    font-size: calc($fsz * $fsz-1199);
  }
  @media (max-width: 991px) {
    font-size: calc($fsz * $fsz-991);
  }
  @media (max-width: 767px) {
    font-size: calc($fsz * $fsz-767);
  }
  @media (max-width: 575px) {
    font-size: calc($fsz * $fsz-576);
  }
}

%semibold-20-gilroy {
  $fsz: calc(20 / var(--rem) * 1rem);
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: $fsz;
  line-height: 140%;
  @media (max-width: 1199px) {
    font-size: calc($fsz * $fsz-1199);
  }
  @media (max-width: 991px) {
    font-size: calc($fsz * $fsz-991);
  }
  @media (max-width: 767px) {
    font-size: calc($fsz * $fsz-767);
  }
  @media (max-width: 575px) {
    font-size: calc($fsz * $fsz-576);
  }
}

%regular-20-gilroy {
  $fsz: calc(20 / var(--rem) * 1rem);
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $fsz;
  line-height: 125%;
  @media (max-width: 1199px) {
    font-size: calc($fsz * $fsz-1199);
  }
  @media (max-width: 991px) {
    font-size: calc($fsz * $fsz-991);
  }
  @media (max-width: 767px) {
    font-size: calc($fsz * $fsz-767);
  }
  @media (max-width: 575px) {
    font-size: calc($fsz * $fsz-576);
  }
}

%regular-18-inter {
  $fsz: calc(19 / var(--rem) * 1rem);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $fsz;
  line-height: 168%;
  @media (max-width: 1199px) {
    font-size: calc($fsz * $fsz-1199);
  }
  @media (max-width: 991px) {
    font-size: calc($fsz * $fsz-991);
  }
  @media (max-width: 767px) {
    font-size: calc($fsz * $fsz-767);
  }
  @media (max-width: 575px) {
    font-size: calc($fsz * $fsz-576);
  }
}

%medium-17-gilroy {
  $fsz: calc(17 / var(--rem) * 1rem);
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: $fsz;
  line-height: 141%;
  @media (max-width: 1199px) {
    font-size: calc($fsz * $fsz-1199);
  }
  @media (max-width: 991px) {
    font-size: calc($fsz * $fsz-991);
  }
  @media (max-width: 767px) {
    font-size: calc($fsz * $fsz-767);
  }
  @media (max-width: 575px) {
    font-size: calc($fsz * $fsz-576);
  }
}

%regular-17-gilroy {
  $fsz: calc(17 / var(--rem) * 1rem);
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $fsz;
  line-height: 141%;
  @media (max-width: 1199px) {
    font-size: calc($fsz * $fsz-1199);
  }
  @media (max-width: 991px) {
    font-size: calc($fsz * $fsz-991);
  }
  @media (max-width: 767px) {
    font-size: calc($fsz * $fsz-767);
  }
  @media (max-width: 575px) {
    font-size: calc($fsz * $fsz-576);
  }
}

%regular-16-gilroy {
  $fsz: calc(16 / var(--rem) * 1rem);
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $fsz;
  line-height: 150%;
  @media (max-width: 1199px) {
    font-size: calc($fsz * $fsz-1199);
  }
  @media (max-width: 991px) {
    font-size: calc($fsz * $fsz-991);
  }
  @media (max-width: 767px) {
    font-size: calc($fsz * $fsz-767);
  }
  @media (max-width: 575px) {
    font-size: calc($fsz * $fsz-576);
  }
}

%regular-15-gilroy {
  $fsz: calc(15 / var(--rem) * 1rem);
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $fsz;
  line-height: 160%;
  @media (max-width: 1199px) {
    font-size: calc($fsz * $fsz-1199);
  }
  @media (max-width: 991px) {
    font-size: calc($fsz * $fsz-991);
  }
  @media (max-width: 767px) {
    font-size: calc($fsz * $fsz-767);
  }
  @media (max-width: 575px) {
    font-size: calc($fsz * $fsz-576);
  }
}

%semibold-14-gilroy {
  $fsz: calc(14 / var(--rem) * 1rem);
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: $fsz;
  line-height: 150%;
  @media (max-width: 1199px) {
    font-size: calc($fsz * $fsz-1199);
  }
  @media (max-width: 991px) {
    font-size: calc($fsz * $fsz-991);
  }
  @media (max-width: 767px) {
    font-size: calc($fsz * $fsz-767);
  }
  @media (max-width: 575px) {
    font-size: calc($fsz * $fsz-576);
  }
}
