footer.footer
  .container.footer__container.row
    a.logo.footer__logo.col-3(href="#") 
      img.logo__img(src="@img/logo.png", alt="Логотип Grown Director")
    .footer__contacts.col-3
      strong.footer__title Contact us:
      .footer__contacts-item
        span.footer__contacts-title Telephone:
        a.footer__contacts-link(href="tel:+79826612823") +7 (982) 661-28-23
      .footer__contacts-item
        span.footer__contacts-title Email:
        a.footer__contacts-link(href="mailto:naskr4317@yandex.ru") naskr4317@yandex.ru
    .footer__social.col-3
      strong.footer__title Follow us on social media: 
      ul.social.footer__social-list
        li.social__item
          a.social__link(href="#") 
            img.social__img(src="@img/facebook.svg", alt="Social-icon")
        li.social__item
          a.social__link(href="#") 
            img.social__img(src="@img/instagram.svg", alt="Social-icon")
        li.social__item
          a.social__link(href="#") 
            img.social__img(src="@img/linkedin.svg", alt="Social-icon")
