.discount
  span.discount__text 15% discount on new items
header.header
  .container.header__container
    a.logo.header__logo(href="./index.html") 
      picture
        source(srcset="@img/logo.webp" type="image/webp")
        source(srcset="@img/logo.png" type="image/png" )
        img.logo__img(src="@img/logo.png", alt="Логотип Grown Director")
    nav.nav.header__nav 
      ul.nav__list
        li.nav__item
          button.nav__link_product(type="button") Products
        li.nav__item
          a.nav__link(href="./catalog.html") Catalogue
        li.nav__item
          a.nav__link(href="#") About
        li.nav__item
          a.nav__link(href="#") Education
        li.nav__item
          a.nav__link(href="./faq.html") FAQ
    ul.social.header__social
      li.social__item
        a.social__link(href="#") 
          img.social__img(src="@img/facebook.svg", alt="Social-icon")
      li.social__item
        a.social__link(href="#") 
          img.social__img(src="@img/instagram.svg", alt="Social-icon")
      li.social__item
        a.social__link(href="#") 
          img.social__img(src="@img/linkedin.svg", alt="Social-icon")
    ul.header__user-menu
      li.header__user-menu-item
        a.header__user-menu-link(href="#") 
          svg.header__user-menu-icon
            use(xlink:href="@img/sprite.svg#user")
      li.header__user-menu-item
        a.header__user-menu-link(href="./cart.html") 
          svg.header__user-menu-icon
            use(xlink:href="@img/sprite.svg#basket")
    
    button.burger(type="button")
      span.burger__item
      span.burger__item
      span.burger__item

  .product-menu.swiper-5-block
    .container.product-menu__container
      .swiper.swiper-5
        ul.swiper-wrapper
          li.swiper-slide
            .product-menu__item(href="./hydrodirector.html") 
              a.product-menu__link(href="./hydrodirector.html")
              picture
                source(srcset="@img/menu-products/product-1.webp" type="image/webp")
                source(srcset="@img/menu-products/product-1.png" type="image/png" )
                img.product-menu__img(src="@img/menu-products/product-1.png", alt="Device")
              strong.product-menu__name HydroDirector
          li.swiper-slide
            .product-menu__item(href="./drycontactdirector.html") 
              a.product-menu__link(href="./drycontactdirector.html")
              picture
                source(srcset="@img/menu-products/product-2.webp" type="image/webp")
                source(srcset="@img/menu-products/product-2.png" type="image/png" )
                img.product-menu__img(src="@img/menu-products/product-2.png", alt="Device")
              strong.product-menu__name DryContactDirector
          li.swiper-slide
            .product-menu__item(href="./sensordirector.html") 
              a.product-menu__link(href="./sensordirector.html")
              picture
                source(srcset="@img/menu-products/product-3.webp" type="image/webp")
                source(srcset="@img/menu-products/product-3.png" type="image/png" )
                img.product-menu__img(src="@img/menu-products/product-3.png", alt="Device")
              strong.product-menu__name SensorDirector
          li.swiper-slide
            .product-menu__item(href="./socketdirector.html") 
              a.product-menu__link(href="./socketdirector.html")
              picture
                source(srcset="@img/menu-products/product-4.webp" type="image/webp")
                source(srcset="@img/menu-products/product-4.png" type="image/png" )
                img.product-menu__img(src="@img/menu-products/product-4.png", alt="Device")
              strong.product-menu__name SocketDirector
      .swiper__btn-wrap
        button.swiper-button-prev.swiper__btn.swiper__btn_prev(type="button" disabled)
          svg.swiper__btn-icon
            use(xlink:href="@img/sprite.svg#arrow-long")
        button.swiper-button-next.swiper__btn.swiper__btn_next(type="button" )
          svg.swiper__btn-icon
            use(xlink:href="@img/sprite.svg#arrow-long")

.popup
  .menu
    .container.menu__container
      nav.nav.header__nav 
        ul.nav__list
          li.nav__item
            button.nav__link.nav__link_product-mobile(type="button") Products
            ul.menu__product-menu
              li.menu__product-menu-item
                a.menu__product-menu-link(href="./hydrodirector.html") HydroDirector 
              li.menu__product-menu-item
                a.menu__product-menu-link(href="./drycontactdirector.html") DryContactDirector
              li.menu__product-menu-item
                a.menu__product-menu-link(href="./sensordirector.html") SensorDirector
              li.menu__product-menu-item
                a.menu__product-menu-link(href="./socketdirector.html") SocketDirector
          li.nav__item
            a.nav__link(href="./catalog.html") Catalogue
          li.nav__item
            a.nav__link(href="#") About
          li.nav__item
            a.nav__link(href="#") Education
          li.nav__item
            a.nav__link(href="./faq.html") FAQ
      ul.social.header__social
        li.social__item
          a.social__link(href="#") 
            img.social__img(src="@img/facebook.svg", alt="Social-icon")
        li.social__item
          a.social__link(href="#") 
            img.social__img(src="@img/instagram.svg", alt="Social-icon")
        li.social__item
          a.social__link(href="#") 
            img.social__img(src="@img/linkedin.svg", alt="Social-icon")
      ul.header__user-menu
        li.header__user-menu-item
          a.header__user-menu-link(href="#") 
            svg.header__user-menu-icon
              use(xlink:href="@img/sprite.svg#user")
        li.header__user-menu-item
          a.header__user-menu-link(href="./cart.html") 
            svg.header__user-menu-icon
              use(xlink:href="@img/sprite.svg#basket")
                