html body {
  @extend %regular-17-gilroy;
  color: $black;
  background: $white;
}

.container {
  max-width: $container;
  margin: 0 auto;
}

.btn {
  @extend %medium-17-gilroy;
  padding: 15px $btn-hz-p;
  border-radius: 12px;
  width: fit-content;

  &__green {
    background-color: $green;
    color: $white;
    transition: background-color .2s ease-in-out;

    &:hover,
    &:focus-visible,
    &:active {
      background-color: $green2;
    }
  }

  &__white {
    color: $black;
    background-color: $white;
    transition: background-color .2s ease-in-out,
      color .2s ease-in-out;

    &:hover,
    &:focus-visible,
    &:active {
      background-color: $gray;
      color: $black;
    }
  }

  &-play {
    display: inline-flex;
    align-items: center;
    gap: 18px;

    &__text {
      @extend %medium-17-gilroy;
      color: $black;
      border-bottom: 1px solid transparent;
      transition: border-color .2s ease-in-out;
    }

    &__icon {
      width: 56px;
      height: 56px;
      color: $green;
    }

    &:hover {
      .btn-play__text {
        border-color: $black;
      }
    }
  }
}

input {
  @extend %regular-17-gilroy;
  color: $black;
  padding: 10px 20px;
  border: 1px solid $gray;
  border-radius: 8px;

  &::placeholder {
    color: $gray;
  }

  &.black {
    border-color: $black;

    &::placeholder {
      color: $black;
    }
  }

  &.white {
    border-color: $white;
    color: $white;

    &::placeholder {
      color: $white;
    }
  }
}

.section-title {
  display: flex;
  align-items: center;
  gap: 20px;

  &__icon {
    width: 24px;
    height: 38px;
  }

  &__heading {
    @extend %semibold-48-inter;
  }
}

.radio {
  &__custom {
    position: relative;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid $gray4;
    transition: border-color .2s ease-in-out;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 8px;
      height: 8px;
      background-color: transparent;
      border-radius: 50%;
      transition: background-color .2s ease-in-out;
    }
  }

  &:checked+&__custom {
    border-color: $green;

    &::after {
      background-color: $green;
    }
  }
}

.logo {
  &__img {
    max-width: 188px;
  }
}

.nav {
  &__list {
    display: flex;
    align-items: center;
    gap: 32px;
    @extend %regular-17-gilroy;
  }
}

.social {
  &__list {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__icon {
    width: 24px;
    height: 24px;
  }
}

// Слайдер - нужно будет заменить
.slider {
  &__wrapper {
    display: flex;
  }
  &__slide {
  }
}

.slider-1 {
  .slider {
    &__wrapper {
      height: 100%;
    }

    &__btn {
      &-wrap {
        position: absolute;
        left: 0;
        bottom: 0;
        display: flex;
        align-items: center;
      }

      &_prev {
        svg {
          transform: rotate(180deg);
        }
      }

      &-icon {
        width: 32px;
        height: 32px;
      }
    }

    &__active-slide {
      @extend %regular-20-gilroy;
    }
  }
}

.slider-2 {
  .slider {
    &__slide {
      position: relative;
    }

    &__btn {
      &-wrap {
        position: absolute;
        bottom: 39px;
        right: 39px;
        display: flex;
        align-items: center;
        gap: 15px;
      }

      padding: 17px 15px;
      background: $green;
      border-radius: 6px;

      &:disabled {
        display: none;
      }

      &_prev {
        svg {
          transform: rotate(-180deg);
        }
      }

      &-icon {
        display: block;
        width: 30px;
        height: 16px;
        color: $white;
      }
    }
  }
}
