html body {
  @extend %regular-17-gilroy;
  color: $black;
  background: $white;
}

.container {
  margin: 0 auto;
}
.burger {
  box-sizing: content-box;
  position: relative;
  z-index: 25;
  min-width: 24px;
  height: 17px;

  @media (min-width: 992px) {
    display: none;
  }

  &__item {
    position: absolute;
    left: 0;

    &:first-child {
      top: 0;
    }

    &:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
    }

    &:last-child {
      bottom: 0;
    }

    display: block;
    width: 100%;
    height: 1px;
    background: $black;
    transition: opacity .3s ease-in-out,
    visibility .3s ease-in-out,
    top .3s ease-in-out,
    left .3s ease-in-out,
    transform .3s ease-in-out;
  }

  &_active {
    .burger__item {
      top: 50%;
      left: 0;

      &:nth-child(2) {
        visibility: hidden;
        opacity: 0;
      }

      &:first-child {
        transform: translateY(-50%) rotate(45deg);
      }

      &:last-child {
        transform: translateY(-50%) rotate(-45deg);
      }
    }
  }
}

.section-title {
  display: flex;
  align-items: center;
  gap: 20px;

  &__icon {
    flex: none;
    color: $green;
    width: 24px;
    height: 38px;
  }

  &__heading {
    @extend %semibold-48-inter;
  }
}

.radio {
  &__custom {
    position: relative;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid $gray4;
    transition: border-color .2s ease-in-out;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 8px;
      height: 8px;
      background-color: transparent;
      border-radius: 50%;
      transition: background-color .2s ease-in-out;
    }
  }

  &:checked+&__custom {
    border-color: $green;

    &::after {
      background-color: $green;
    }
  }
}

.checkbox {
  &__custom {
    position: relative;
    display: inline-block;
    flex: none;
    width: 15px;
    height: 15px;
    border-radius: 4px;
    border: 1px solid $black;
    transition: border-color .2s ease-in-out,
      background-color .2s ease-in-out;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: background-color .2s ease-in-out;
    }
  }

  &:checked+&__custom {
    border-color: $green;
    background-color: $green;

    &::after {
      content: url('@img/check.svg');
    }
  }
}

.popup {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background: rgba($black, .6);
  transition: opacity .3s ease-in-out,
    visibility .3s ease-in-out;

  &_active {
    visibility: visible;
    opacity: 1;
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.menu {
  padding-left: 5%;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 60vw;
  height: 100vh;
  background: $white;
  overflow: auto;
  transform: translateX(-100%);
  visibility: hidden;
  transition: transform .3s ease-in-out,
    visibility .3s ease-in-out;

  &_active {
    visibility: visible;
    transform: translateX(0);
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .nav__list,
  .header__social,
  .header__user-menu {
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    gap: 25px;
  }

  .header__user-menu {
    margin-bottom: 20px;
  }

  .header__social {
    flex-direction: row;
    flex-wrap: wrap;
    order: 1;
  }

  @media (min-width: 992px) {
    display: none;
  }
}

.btn {
  display: inline-block;
  @extend %medium-17-gilroy;
  text-align: center;
  width: fit-content;
  padding: calc(15px - 1px) calc($btn-hz-p - 1px);
  border: 1px solid transparent;
  border-radius: 12px;
  transition: background-color .2s ease-in-out,
    color .2s ease-in-out,
    border-color .2s ease-in-out;

  @media (max-width: 575px) {
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  &__text {
    display: inline-block;
    min-width: 139px;

    @media (max-width: 575px) {
      min-width: unset;
      white-space: nowrap;
    }
  }

  &__trs {
    background-color: transparent;
    color: $black;
    border-color: $gray;

    &:hover,
    &:focus-visible,
    &:active {
      background-color: $gray2;
    }
  }

  &__green {
    background-color: $green;
    border-color: $green;
    color: $white;

    &:hover,
    &:focus-visible,
    &:active {
      background-color: $green2;
      border-color: $green2;
    }
  }

  &__green-trs {
    background-color: transparent;
    color: $green;
    border-color: $green;

    &:hover,
    &:focus-visible,
    &:active {
      background-color: $green;
      color: $white;
    }
  }

  &__white {
    background-color: $white;
    border-color: $white;
    color: $black;

    &:hover,
    &:focus-visible,
    &:active {
      background-color: $gray;
      border-color: $gray;
      color: $white;
    }
  }

  &__gray {
    padding: calc(9px - 1px) calc(($btn-hz-p / 1.6) - 1px);
    background-color: $gray2;
    border-color: $gray2;
    color: $black;

    &:hover,
    &:focus-visible,
    &:active {
      background-color: $gray;
      border-color: $gray;
      color: $white;
    }
  }

  &-play {
    display: inline-flex;
    align-items: center;
    gap: 18px;

    &__text {
      @extend %medium-17-gilroy;
      color: $black;
      border-bottom: 1px solid transparent;
      transition: border-color .2s ease-in-out;
    }

    &__icon {
      width: 56px;
      height: 56px;
      color: $green;
    }

    &:hover,
    &:focus-visible,
    &:active {
      .btn-play__text {
        border-color: $black;
      }
    }
  }
}

.more {
  display: flex;
  align-items: center;
  gap: 18px;
  @extend %regular-18-inter;
  width: fit-content;

  &__icon {
    width: 30px;
    height: 16px;
    color: $green;
  }
}

.counter {
  height: 43px;
  display: inline-flex;
  width: fit-content;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $gray;
  border-radius: 8px;

  &__btn {
    padding: 9px 18px;
    font-size: 28px;
    font-family: 'Gilroy';
    line-height: 24px;

    &_minus {
      border-right: 1px solid $gray;
      border-radius: 8px 0px 0px 8px;
    }

    &_plus {
      border-radius: 0px 8px 8px 0px;
      border-left: 1px solid $gray;
    }

  }

  &__value {
    padding: 0px 25px;
    @extend %regular-22-gilroy;
  }
}

html h2 {
  @extend %semibold-48-inter;
}

input,
textarea {
  color: $black;
  padding: 8px 20px;
  padding-top: 9px;
  border: 1px solid $gray;
  border-radius: 8px;

  &::placeholder {
    color: $gray;
  }

  &.big {
    padding: 14px 25px;
    padding-top: 15px;
  }

  &.black {
    border-color: $black;

    &::placeholder {
      color: $black;
    }
  }

  &.white {
    border-color: $white;
    color: $white;

    &::placeholder {
      color: $white;
    }
  }
}

.product-menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 20;
  padding-top: 42px;
  padding-bottom: 52px;
  background: $white;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease-in-out,
    visibility .3s ease-in-out;

  .slider {
    &__wrapper {
      gap: 54px;
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;
  }

  &__name {
    @extend %semibold-21-gilroy;
  }
}

.acc {
  &_active {
    .acc__icon {
      &_open {
        display: none;
      }

      &_close {
        display: block;
      }
    }
  }

  &__trigger {
    padding: 27px 0;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
    text-align: left;
    width: 100%;
  }

  &__panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }

  &__icon {
    flex: none;
    width: 41px;
    height: 41px;

    @media (max-width: 575px) {
      width: 25px;
      height: 25px;
    }

    &_close {
      display: none;
    }
  }
}

.discount {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 7px;
  width: 100%;
  background-color: $gray;
  color: $white;

  &__text {
    @extend %semibold-14-gilroy;
  }
}

.order {
  box-shadow: 3px 3px 18px rgba(0, 0, 0, 0.13);
  border-radius: 12px;
  background: $white;
  padding: 30px;

  @media (max-width: 575px) {
    padding: 15px;
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 37px;
  }

  &__title {
    @extend %medium-30-inter;
    margin-bottom: 4px;
  }

  &__row {
    display: flex;
    gap: 48px;
    @extend %medium-22-gilroy;

    @media (max-width: 575px) {
      gap: 24px;
    }

    &-title {
      flex: none;
      width: 105px;

      @media (max-width: 575px) {
        width: 75px;
      }
    }

    &-text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 11px;

      &_small {
        @extend %regular-17-gilroy;

      }
    }
  }

  &__calculate-btn {
    text-decoration: underline;
    color: $green;
  }

  &__pay {
    display: flex;
    flex-direction: column;
    gap: 7px;

    &-btn {
      width: 100%;
      height: 60px;
      padding-top: 0;
      padding-bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-text {
      text-align: center;
    }
  }

  &__data {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    margin-top: 18px;

    .checkbox__custom {
      margin-top: 5px;
    }

    &-text {
      @extend %regular-15-gilroy;
    }
  }
}

.logo {
  &__img {
    max-width: 188px;
  }
}

.nav {
  &__list {
    display: flex;
    align-items: center;
    gap: 32px;
    @extend %regular-17-gilroy;
  }

  &__link:hover+.product-menu,
  .product-menu:hover {
    opacity: 1;
    visibility: visible;
  }
}

.social {
  font-size: 0;
  display: flex;
  align-items: center;
  gap: 12px;

  &__item {
    flex: none;
  }

  &__img {
    vertical-align: middle;
  }
}

// Слайдер - нужно будет заменить
.slider {
  position: relative;

  &__wrapper {
    display: flex;
  }

  &__btn {
    &-wrap {
      z-index: 2;

      @media (max-width: 767px) {
        display: none !important;
      }
    }

    svg {
      display: block;
    }
  }
}

.slider-1 {
  .slider {
    &__wrapper {
      height: 100%;
    }

    &__btn {
      &-wrap {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        width: 100%;
      }

      &:hover,
      &:focus-visible,
      &:active {
        color: $green;
      }

      &:disabled {
        opacity: .5;
      }

      &_prev {
        svg {
          transform: rotate(180deg);
        }
      }

      &-icon {
        width: 32px;
        height: 32px;
        transition: color .2s ease-in-out;
      }
    }

    &__active-slide {
      transform: translateY(1px);
      @extend %regular-20-gilroy;
    }
  }
}

.slider-2 {
  .slider {
    &__slide {
      position: relative;
    }

    &__btn {
      &-wrap {
        position: absolute;
        bottom: 5px;
        right: 5px;
        display: flex;
        align-items: center;
        gap: 15px;
      }

      padding: 17px 15px;
      background: $green;
      border-radius: 6px;
      transition: background-color .2s ease-in-out;

      &:hover,
      &:focus-visible,
      &:active {
        background-color: $green2;
      }

      &:disabled {
        display: none;
      }

      &_prev {
        svg {
          transform: rotate(-180deg);
        }
      }

      &-icon {
        width: 30px;
        height: 16px;
        color: $white;
      }
    }
  }
}

.slider-3 {
  .slider {
    &__wrapper {
      display: flex;
      flex-wrap: nowrap;
    }

    &__btn {
      &-wrap {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        z-index: 5;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: calc(100% + 30px);
        margin-left: -15px;
      }

      padding: 17px 15px;
      background: $green;
      border-radius: 6px;
      transition: opacity .3s ease-in-out,
      visibility .3s ease-in-out;
      transition: background-color .2s ease-in-out;

      &:hover,
      &:focus-visible,
      &:active {
        background-color: $green2;
      }

      &:disabled {
        visibility: hidden;
        opacity: 0;
      }

      &_next {
        margin-left: auto;
      }

      &_prev {
        margin-right: auto;

        svg {
          transform: rotate(180deg);
        }
      }

      &-icon {
        width: 30px;
        height: 16px;
        color: $white;
      }
    }
  }
}

.slider-4 {
  .slider {
    &__btn {
      &-wrap {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        z-index: 5;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: calc(100% + 60px);
        margin-left: -30px;
      }

      padding: 16px 14px;
      background: $white;
      border: 1px solid $green;
      border-radius: 6px;
      transition: opacity .3s ease-in-out,
      visibility .3s ease-in-out;
      transition: background-color .2s ease-in-out;

      &:hover,
      &:focus-visible,
      &:active {
        background-color: $green;

        svg {
          color: $white;
        }
      }

      &:disabled {
        visibility: hidden;
        opacity: 0;
      }

      &_next {
        margin-left: auto;
      }

      &_prev {
        margin-right: auto;

        svg {
          transform: rotate(180deg);
        }
      }

      &-icon {
        display: block;
        width: 30px;
        height: 16px;
        color: $green;
        transition: color .2s ease-in-out;
      }
    }
  }
}

.slider-5 {
  .slider {
    &__wrapper {
      display: flex;
      flex-wrap: nowrap;
    }

    &__btn {
      &-wrap {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        z-index: -1;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      padding: 17px 15px;
      background: $green;
      border-radius: 6px;
      transition: opacity .3s ease-in-out,
      visibility .3s ease-in-out;
      transition: background-color .2s ease-in-out;

      &:hover,
      &:focus-visible,
      &:active {
        background-color: $green2;
      }

      &:disabled {
        visibility: hidden;
        opacity: 0;
      }

      &_prev {
        svg {
          transform: rotate(180deg);
        }
      }

      &-icon {
        width: 30px;
        height: 16px;
        color: $white;
      }
    }
  }
}

.successful-purchase {
  text-align: center;
  padding: 39px 67px;
  background: $white;
  border-radius: 12px;
  @media (max-width: 575px) {
    padding: 15px 20px;
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content  ;
    @media (max-width: 575px) {
      width: unset;
      width: 80vw;
    }
  }
  &__logo {
    margin-bottom: 35px;
  }
  &__title {
    margin-bottom: 12px;
    @extend %semibold-32-inter;
  }
  &__desc {
    margin-bottom: 44px;
    @extend %regular-17-gilroy;
  }
  &__link {
    &-catalog {
      margin-bottom: 14px;
    }
    &-home {
      margin: 0 auto;
    }
  }
}
