.header {
  position: relative;
  padding: 18px 0;

  &__container {
    display: flex;
    align-items: center;
    gap: 65px;
    justify-content: space-between;
  }

  &__logo {
    flex: none;
  }

  &__nav {
    margin-left: 80px;

    @media (max-width: 1199px) {
      margin-left: 0;
    }

    .header__container>& {
      @media (max-width: 991px) {
        display: none;
      }
    }

  }

  &__social {
    margin-left: auto;

    .header__container>& {
      @media (max-width: 991px) {
        display: none;
      }
    }
  }

  &__user-menu {
    display: flex;
    align-items: center;
    gap: 12px;

    .header__container>& {
      @media (max-width: 991px) {
        display: none;
      }
    }

    &-icon {
      width: 28px;
      height: 28px;
    }
  }
}

.footer {
  &__container {
    gap: 40px;
    padding-top: 53px;
    padding-bottom: 77px;
  }

  &__title {
    @extend %semibold-20-gilroy;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &-item {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    &-link {
      @extend %semibold-20-gilroy;
      color: $green;
    }
  }

  &__social {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}



// Sections

.presentation {
  position: relative;

  background: $gray-gradient;

  &__container {
    padding-top: 72px;
    padding-bottom: 226px;

    @media (max-width: 991px) {
      padding-bottom: 113px;
    }
  }

  &__bg {
    @media (max-width: 1399px) {
      width: 50%;
    }

    @media (max-width: 767px) {
      display: none;
    }

    position: absolute;
    top: 0;
    right: 0;
  }

  .slider {
    position: static;

    &__btn {
      &-wrap {
        bottom: 72px;

        @media (max-width: 991px) {
          bottom: 42px;
        }
      }
    }
  }

  &__text-block {
    position: relative;
    z-index: 1;
  }

  &__title {
    @extend %bold-65-inter;
    margin-bottom: 19px;
  }

  &__desc {
    @extend %regular-17-gilroy;
    margin-bottom: 30px;
  }

  &__btn-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px 45px;
  }
}

.benefits {
  &__container {
    padding-top: 72px;
    padding-bottom: 72px;
  }

  &__title {
    margin-bottom: 42px;
  }

  &__list {
    gap: 58px 0;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__icon {
    width: 84px;
    height: 84px;
    margin-bottom: 21px;
  }

  &__heading {
    @extend %medium-30-inter;
    margin-bottom: 10px;
  }

  &__link {
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 12px;

    &-text {
      @extend %regular-16-gilroy;
    }

    &-icon {
      color: $black;
      width: 15px;
      height: 8px;
    }
  }
}

.quiz {
  background: $gray-gradient;
  height: 633px;

  @media (max-width: 1399px) {
    height: auto;
    padding-top: 70px;
    padding-bottom: 70px;
  }

  &__container {
    display: flex;
    align-items: center;
    gap: 54px;

    @media (max-width: 1399px) {
      flex-direction: column;
    }
  }

  &__video {
    &-block {
      cursor: pointer;
      position: relative;
      flex: none;
      width: 548px;
      height: 100%;
      margin-left: calc((-100vw + $container) / 2);

      @media (max-width: 1399px) {
        max-width: 548px;
        width: 100%;
        margin: 0;
        order: 1;
      }
    }

    &-btn {
      position: absolute;
      z-index: 3;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &-icon {
      width: 89px;
      height: 89px;
      color: $white;
    }

    display: block;
    width: 100%;
    object-fit: cover;
  }

  &__content {
    max-width: 650px;
    margin-left: auto;

    @media (max-width: 1399px) {
      max-width: 100%;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 37px;

    &-icon {
      stroke: $white;
      flex: none;
      width: 64px;
      height: 64px;

      @media (max-width: 767px) {
        width: 50px;
        height: 50px;
      }
    }

    &-heading {
      @extend %semibold-38-inter;
    }
  }

  .slider {
    &__btn {
      &-wrap {
        bottom: 39px;
        right: 39px;
      }
    }
  }

  &__item {
    width: 100%;
    padding: 33px 38px 37px;
    background: $white;
    border-radius: 12px;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.08);

    @media (max-width: 767px) {
      padding: 20px;
    }

    &-title {
      display: flex;
      align-items: flex-start;
      gap: 10px;
      @extend %medium-30-inter;
      margin-bottom: 30px;

      &-pagination {
        color: $green;
      }
    }
  }

  &__form {
    &-content {
      display: flex;
      flex-direction: column;
      gap: 21px;
    }

    &-label {
      display: flex;
      align-items: center;
      gap: 15px;
      cursor: pointer;
    }

    &-text {
      @extend %regular-22-gilroy;
    }
  }
}

.popular-products {
  background: $gray-gradient;

  &__container {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__more {
    display: flex;
    align-items: center;
    gap: 18px;
    @extend %regular-17-gilroy;

    @media (max-width: 575px) {
      display: none;
    }

    &_adaptive {
      @media (min-width: 576px) {
        display: none;
      }

      @media (max-width: 575px) {
        display: flex;
        justify-content: flex-end;
      }

      margin-bottom: 10px;
    }

    &-icon {
      width: 30px;
      height: 16px;
      color: $green;
    }
  }

  &__desc {
    margin-bottom: 20px;

    @media (max-width: 575px) {
      margin-bottom: 30px;
    }
  }

  &__list {
    justify-content: center;
    flex-wrap: wrap;

    @media (max-width: 767px) {}
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
      @extend %semibold-24-inter;
      margin-bottom: 11px;
    }

    &-price {
      @extend %medium-30-inter;
      margin-bottom: 18px;
    }
  }
}

.subscribe-news {
  position: relative;
  background: url('@img/subscribe-news-bg.png') no-repeat top right 6.22%, $blue-gradient;
  color: $white;

  @media (max-width: 1199px) {
    background-position: top right -20%;
    background-size: 50% auto;
  }

  @media (max-width: 575px) {
    background: $blue-gradient;
  }

  &__container {
    position: relative;
    z-index: 1;
    padding-top: 55px;
    padding-bottom: 67px;
  }

  &__text-block {
    margin-bottom: 34px;
  }

  &__title {
    @extend %semibold-48-inter;
    margin-bottom: 8px;
  }

  &__form {
    display: flex;
    gap: 18px;
    margin: 0;

    @media (max-width: 1199px) {
      flex-direction: column;

      &>* {
        width: 70%;
        height: 45px;

        @media (max-width: 575px) {
          width: 100%;
        }
      }
    }
  }

  &__btn {
    padding-left: calc($btn-hz-p * 1.4);
    padding-right: calc($btn-hz-p * 1.4);
  }
}

.about-app {
  &__container {
    padding-top: 70px;
    padding-bottom: 80px;
  }

  &__left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__phone {
    @media (max-width: 767px) {
      display: none;
    }

    &_adaptive {
      width: 70%;
      margin: 0 auto;
      margin-top: 30px;

      @media (min-width: 768px) {
        display: none;
      }

      @media (max-width: 767px) {
        display: block;
      }
    }
  }

  &__title {
    @extend %semibold-48-inter;
    margin-bottom: 47px;
  }

  &__right {
    margin-left: auto;
    padding-top: 17px;
  }

  &__desc {
    margin-bottom: 45px;
  }

  &__list {
    gap: 34px 0;
    margin-bottom: 52px;
    counter-reset: css-counter 0;
  }

  &__item {
    &-title {
      counter-increment: css-counter 1;
      display: flex;
      align-items: center;
      gap: 13px;
      @extend %medium-24-inter;
      margin-bottom: 8px;

      &::before {
        content: "0"counter(css-counter);
        @extend %semibold-24-inter;
        color: $green;
      }
    }
  }

  &__app {
    &-wrap {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 20px 40px;
    }

    flex: none;
  }
}

.current-news {
  background: $gray-gradient;

  &__container {
    padding-top: 70px;
    padding-bottom: 150px;
  }

  &__title {
    margin-bottom: 28px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: fit-content;

    &__inner {
      position: relative;
    }

    &-img {
      &-wrap {
        position: relative;
        width: fit-content;

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 106.67%;
          height: 106.67%;
          z-index: 0;
          background: url('@img/current-news-frame.jpg') no-repeat center / contain;
        }
      }

      position: relative;
      z-index: 3;
      border-radius: 12px;
      display: block;
    }

    &-desc {
      &-wrap {
        position: absolute;
        z-index: 3;
        bottom: 0;
        left: 0;
        right: 0;
        @extend %regular-15-gilroy;
        margin: 0 auto;
        padding: 12px;
        background: $white;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
      }

    }

    &-title {
      position: absolute;
      left: 0;
      top: calc(100% + 16px);
      @extend %medium-24-inter;
    }
  }
}

.review {
  background: $green;
  color: $white;

  &__container {
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 43px;

    svg {
      color: inherit;
    }
  }

  &__title {
    margin-bottom: 20px;
  }

  &__slider {
    padding: 0 19px;

    @media (max-width: 767px) {
      padding: 0;
    }
  }

  .slider {
    &__btn {
      &-wrap {
        width: calc(100% + 24px);
        margin-left: -12px;
      }
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 41px 84px;
    background: $white;
    color: $black;
    border: 1px solid #40AC6C;
    border-radius: 12px;
    gap: 20px;

    @media (max-width: 767px) {
      padding: 20px 42px;
    }

    @media (max-width: 575px) {
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: fit-content;
    }

    &-person {
      max-width: 126px;
      display: flex;
      flex-direction: column;
    }

    &-avatar {
      border-radius: 50%;
      min-width: 88px;
      width: 88px;
      height: 88px;
      margin-bottom: 19px;

      @media (max-width: 575px) {
        margin-left: auto;
        margin-right: auto;
      }
    }

    &-name {
      display: block;
      @extend %semibold-24-inter;
      margin-bottom: 4px;
    }

    &-content {
      width: 70.4%;

      @media (max-width: 575px) {
        width: 100%;
      }
    }

    &-title {
      @extend %medium-30-inter;
      margin-bottom: 24px;
    }

    &-more {
      padding: 12px calc($btn-hz-p / 1.5);
    }
  }
}

.partners {
  position: relative;
  background: $gray-gradient;
  padding-top: 60px;
  padding-bottom: 80px;

  &__container {
    position: relative;
    padding-bottom: 56px;
    gap: 30px;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__btn {
    padding-left: 46px;
    padding-right: 46px;
  }

  &__img {
    &-wrap {
      position: absolute;
      bottom: 0;
      right: 0;
      display: flex;
      flex-direction: row-reverse;
      flex-wrap: wrap-reverse;
      align-items: center;
      gap: 35px;

      @media (max-width: 991px) {
        justify-content: center;
        position: static;
        flex-direction: row;
      }
    }

  }

  &__info {
    position: absolute;
    padding: 12px 7px 14px 20px;
    z-index: 5;
    bottom: -112px;
    right: -8.3%;
    @extend %regular-16-gilroy;
    max-width: 222px;
    background: $white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.13);
    border-radius: 15px;

    @media (max-width: 767px) {
      right: 5%;
    }
  }
}

.contacts {
  background: url('@img/contact-bg.png') no-repeat top left, $blue-gradient;
  position: relative;
  color: $white;

  @media (max-width: 1199px) {
    background-position: top left -20%;
    background-size: 40% auto;
  }

  @media (max-width: 767px) {
    background: $blue-gradient;
  }

  &__container {
    position: relative;
    z-index: 1;
    padding-top: 55px;
    padding-bottom: 80px;
  }

  &__content {
    margin-left: auto;
  }

  &__title {
    margin-bottom: 8px;
  }

  &__desc {
    margin-bottom: 34px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__field {
    width: 100%;

    &-wrap {
      display: flex;
      gap: 20px;

      @media (max-width: 991px) {
        flex-direction: column;
      }
    }

  }

  &__textarea {
    height: 117px;
  }

  &__btn {
    width: 100%;
  }
}

.catalog-products {
  padding: 70px 0;

  &__title {
    margin-bottom: 21px;
  }

  &__list {
    gap: 95px 0;

    @media (max-width: 575px) {
      gap: 30px 0;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__name {
    margin-top: auto;
    @extend %semibold-24-inter;
    margin-bottom: 15px;
  }

  &__price {
    @extend %medium-30-inter;
    margin-bottom: 18px;
  }

  &__btn {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.device-hero {
  background: $gray-gradient;
  padding-bottom: 70px;

  &__container {
    position: relative;
    padding-top: 63px;
  }

  &__ellipse {
    &-wrap {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
    }

    width: 100%;

    @media (max-width: 575px) {
      &-wrap {
        width: 100% !important;
        height: 350px;
      }

      height: 100%;
    }
  }

  &__info {
    position: relative;
    z-index: 2;
    display: flex;
    color: $white;

    &_black {
      color: $black;
    }

    @media (max-width: 575px) {
      text-align: center;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      margin-bottom: 50px;
    }
  }

  &__title {
    @extend %bold-80-inter;
  }

  &__desc {
    @extend %regular-20-gilroy;
  }

  &__device {
    position: relative;
    z-index: 1;
    display: block;
    margin-bottom: 70px;
    width: fit-content;

    @media (max-width: 1199px) {
      width: 70%;
    }

    @media (max-width: 575px) {
      width: 100%;
      margin: 0 auto 20px auto !important;
    }
  }

  &__text {
    @extend %semibold-38-inter;
    margin-bottom: 30px;

    &_green {
      color: $green;
    }
  }

  &__btn-download {
    padding-left: calc($btn-hz-p * 1.26);
    padding-right: calc($btn-hz-p * 1.26);
  }
}

.device-advantages {
  position: relative;

  &__bg {
    position: absolute;
    top: -37px;
    right: 0;

    @media (max-width: 1199px) {
      top: 50% !important;
      transform: translateY(-60%);
      width: 50% !important;
    }

    @media (max-width: 991px) {
      display: none;
    }
  }

  &__container {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  &__title {
    position: relative;
    z-index: 1;
    margin-bottom: 47px;
  }

  &__list {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 50px 0;
  }

  &__item {
    grid-column: 1/-1;
    display: flex;
    align-items: center;
    gap: 25px;

    &_row {
      grid-column: 4 span;
    }

    @media (max-width: 991px) {
      grid-column: 6 span;
    }

    @media (max-width: 575px) {
      grid-column: 12 span;
    }
  }


  &__icon {
    &-wrap {
      flex: none;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 84px;
      height: 84px;
      background: $green;
      border-radius: 50%;
    }
  }
}

.pluggable-sensors {
  background: $blue-gradient;
  color: $white;

  &__container {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding-top: 82px;
    padding-bottom: 180px;
  }

  &__title {
    margin-bottom: 50px;
  }

  &__list {
    width: 100%;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 55px 0;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-info {
      position: absolute;
      top: 0;
      right: -50px;
      z-index: 3;
      @extend %medium-17-gilroy;
      max-width: 150px;
      padding: 11px 15px 13px 15px;
      background: $white;
      color: $black;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.13);
      border-radius: 15px;
    }
  }

  &__icon {
    &-wrap {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 200px;
      height: 200px;
      background: $white;
      border: 1px solid $green;
      border-radius: 50%;
      margin-bottom: 36px;
    }

  }

  &__name {
    @extend %medium-22-gilroy;
  }
}

.device-equipped {
  background: $green;
  color: $white;

  &__bg {
    margin-top: -110px;
    margin-bottom: 60px;

    @media (max-width: 575px) {
      margin-top: -60px;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
  }

  &__title {
    margin-bottom: 45px;
  }

  &__list {
    display: block;
    column-count: 3;

    &_flex {
      column-count: unset;
      display: flex;
      flex-wrap: wrap;

      @media (max-width: 991px) {
        flex-direction: wrap;

      }
    }

    @media (max-width: 991px) {
      column-count: 2;
    }

    @media (max-width: 767px) {
      column-count: unset;
    }

  }

  &__item {
    -moz-column-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    column-break-inside: avoid;
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 50px;

    &::before {
      content: '';
      flex: none;
      transform: translateY(8px);
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: $white;
    }

  }

  &__text {
    display: inline;
    width: fit-content;
    @extend %medium-23-gilroy;
  }

  &__tooltip {
    transform: translateY(-3px);
    vertical-align: middle;
    margin-left: 7px;
    display: inline-block;
    position: relative;

    &-btn {
      position: relative;
      z-index: 1;
      flex: none;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 18px;
      height: 18px;
      background: $white;
      color: $black;
      border-radius: 50%;
      @extend %semibold-14-gilroy;

      &:hover,
      &:focus-visible,
      &:active {
        &+div {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    &-info {
      position: absolute;
      top: 5px;
      left: 6px;
      z-index: 0;
      width: 160px;
      background: $white;
      color: $black;
      padding: 13px 23px 13px 15px;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.13);
      border-radius: 15px;
      visibility: hidden;
      opacity: 0;
      transition: opacity .3s ease-in-out,
        visibility .3s ease-in-out;

      ol {
        counter-reset: tooltip-list;
      }

      li::before {
        counter-increment: tooltip-list;
        content: counter(tooltip-list) ". ";
      }
    }
  }
}

.application {
  &__container {
    padding-top: 70px;
    padding-bottom: 70px;
    gap: 40px 0;
  }

  &__desc {
    @extend %semibold-32-inter;
    margin-bottom: 30px;

    &_green {
      color: $green;
    }
  }

  &__phone {
    &-wrap {
      margin-top: -130px;

      @media (max-width: 767px) {
        margin: 0;
      }

      @media (max-width: 575px) {
        margin: 0 auto;
      }
    }

    margin-left: auto;
  }
}

.device-connecting {
  background: $gray-gradient;
  position: relative;

  &__bg {
    &-wrap {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;

      @media (max-width: 1199px) {
        top: 50% !important;
        transform: translateY(-50%) !important;
        width: 40%;
        height: fit-content !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
      }

      @media (max-width: 991px) {
        width: 30%;
      }

      @media (max-width: 767px) {
        display: none;
      }
    }
  }

  &__container {
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    justify-content: space-between;
  }

  &__desc {
    margin-left: auto;
    position: relative;
    @extend %semibold-32-inter;

    &::before {
      content: url('@img/device-connecting-icon.svg');
      display: inline-block;
      transform: translateY(6px);
      margin-right: 24px;
    }
  }
}

.device-characteristics {
  background: $blue-gradient;
  color: $white;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 82px;
    padding-bottom: 187px;
  }

  &__title {
    text-align: center;
    margin-bottom: 45px;
  }

  &__list {
    margin-bottom: 50px;
    gap: 30px 0;
  }

  &__item {
    &-title {
      display: flex;
      align-items: flex-start;
      gap: 15px;
      margin-bottom: 21px;
      @extend %medium-30-inter;

      &::before {
        content: '';
        flex: none;
        transform: translateY(8px);
        width: 15px;
        height: 15px;
        background: $white;
        border-radius: 50%;
      }
    }
  }
}

.device-installation {
  &__container {
    display: flex;
    align-items: center;

    @media (max-width: 767px) {
      flex-direction: column;
      align-items: center;
      gap: 30px;
      padding-top: 80px;
      padding-bottom: 80px;
    }
  }

  &__text-block {
    padding-top: 80px;
    padding-bottom: 141px;
    @extend %semibold-32-inter;

    @media (max-width: 767px) {
      padding: 0;
    }
  }

  &__title {
    color: $green;
  }

  &__bg {
    &-wrap {
      @media (max-width: 991px) {
        margin: 0 !important;
      }

      @media (max-width: 767px) {
        width: 60%;
      }
    }
  }
}

.device-info {
  &__content {
    padding-top: 63px;
    padding-bottom: 70px;
    gap: 40px 0;

    @media (max-width: 991px) {
      flex-direction: column;
    }
  }

  &__view {
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;

    &-main {
      border: 1px solid $gray;
      border-radius: 12px;

      @media (min-width: 1200px) {
        height: 497px;
      }
    }

    &-list {
      display: flex;
      gap: 24px;

      @media (max-width: 575px) {
        display: none;
      }
    }

    &-item {
      cursor: pointer;
      flex-grow: 1;
      height: 173px;
      border: 1px solid $gray;
      border-radius: 12px;

      @media (max-width: 1199px) and (min-width: 992px) {
        height: 140px;
      }

      @media (max-width: 767px) {
        height: 140px;
      }
    }

    &-img {
      width: 100%;
    }
  }

  &__text-block {
    display: flex;
    flex-direction: column
  }

  &__name {
    @extend %semibold-38-inter;
    margin-bottom: 16px;
  }

  &__price {
    @extend %semibold-38-inter;
    margin-bottom: 20px;
  }

  &__form {
    @extend %regular-18-inter;
    margin-bottom: 40px;
  }

  &__fields {
    display: flex;
    gap: 20px 65px;
    margin-bottom: 40px;
    margin-bottom: 30px;
    flex-wrap: wrap;
  }

  &__field-wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    .choices {
      max-width: 145px;
      @extend %regular-22-gilroy;

      &__inner {
        display: flex;
        align-items: center;
        height: 43px;
      }
    }
  }

  &__label {
    display: inline-block;
    margin-bottom: 14px;
  }

  &__form-btn {
    width: 100%;
  }

  &__about {
    margin-bottom: 30px;

    &-title {
      @extend %regular-18-inter;
      display: inline-block;
      margin-bottom: 10px;
    }
  }

  &__more {
    margin-bottom: 32px;
  }

  &__list {
    &-wrap {
      margin-bottom: 46px;
    }

    &-title {
      @extend %regular-18-inter;
    }
  }

  &__item {
    display: flex;
    align-items: flex-start;

    &::before {
      flex: none;
      content: '';
      margin-left: 4px;
      margin-right: 11px;
      width: 4px;
      height: 4px;
      background: $black;
      border-radius: 50%;
      transform: translateY(10px);
    }
  }

  &__app {
    &-wrap {
      display: flex;
      flex-wrap: wrap;
      gap: 36px;
      align-items: center;

    }
  }
}

.offer-sensors {
  background: $gray-gradient;

  &__container {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__list {
    gap: 50px 0;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 482px;
  }

  &__img {
    &-wrap {
      height: 207px;
      margin-bottom: 13px;
    }

  }

  &__name {
    @extend %medium-24-inter;
    margin-bottom: 15px;
  }

  &__price {
    @extend %medium-30-inter;
    margin-bottom: 10px;
  }

  &__counter {
    margin-top: auto;
    margin-bottom: 24px;
  }

  &__btn {}
}

.delivery {
  &__container {
    display: flex;
    align-items: flex-start;
    padding-top: 70px;
    padding-bottom: 70px;

    @media (max-width: 575px) {
      flex-direction: column;
      gap: 20px;
    }
  }

  &__title {}

  &__desc {
    margin-top: 17px;

    @media (max-width: 1199px) {
      margin-top: 0;
    }
  }
}

.cart {
  &__container {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  &__content {
    display: flex;
    gap: 62px;

    @media (max-width: 1199px) {
      flex-direction: column;
    }
  }

  &__title {
    margin-bottom: 38px;
  }

  &__list {
    flex: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__item {
    min-height: 178px;
    display: flex;
    gap: 15px 37px;

    @media (max-width: 767px) {
      flex-direction: column;
    }

    &-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 25px;
    }

    &-center {
      margin-bottom: 34px;
    }

    &-center {
      display: flex;
      gap: 30px;
    }

    &-bottom {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
    }
  }

  &__img {
    &-wrap {
      flex: none;
      max-width: 215px;
      border: 1px solid $gray2;
      border-radius: 12px;

      @media (max-width: 767px) {
        max-width: 100%;
      }
    }

    width: 100%;
    height: 100%;
  }

  &__text-block {
    padding-top: 2px;
    padding-bottom: 11px;
    display: flex;
    flex-direction: column;
  }

  &__name,
  &__price {
    @extend %medium-30-inter;
  }

  &__quantity {
    display: flex;
    gap: 20px;
    @extend %regular-20-gilroy;

    .choices {
      &[data-type*=select-one]::after {
        right: 0;
      }

      &::after {
        transform: translateY(calc(-50% - 2px));
      }

      &__inner {
        padding: 0;
        border: none;
        padding-left: 5px;
        padding-right: 27px;
      }

      &__item--choice {
        padding: 5px 3px;
        padding-left: 5px;
      }

      &__list {
        border-radius: 0;
      }
    }
  }

  &__remove-btn {
    text-decoration: underline;
  }

  &__coupon {
    &-field {
      width: 190px;
      height: 100%;
    }
  }

}

.checkout {
  &__container {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__content {
    gap: 60px 0;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__form {

    &-main,
    &-bottom {
      display: flex;
      flex-direction: column;
      gap: 23px;
    }

    &-main {
      margin-bottom: 44px;
    }

    &-title {
      @extend %medium-24-inter;
    }
  }

  &__field {
    &-wrap {
      @extend %regular-17-gilroy;
      display: flex;
      flex-direction: column;
      gap: 11px;

      &_short {
        padding-right: 65px;
      }
    }

    width: 100%;
  }

  &__textarea {
    padding-top: 16px;
    height: 82px;
  }

  &__order {}
}

.news {
  background: #f5f5f5;

  &__container {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  &__title {
    margin-bottom: 36px;
  }

  &__list {
    gap: 58px 0;
  }

  &__item {
    display: flex;
    flex-direction: column;
    min-height: 553px;

    @media (max-width: 1199px) {
      min-height: auto;
    }

    &-title {
      @extend %semibold-24-inter;
      margin-bottom: 16px;
    }
  }

  &__img {
    &-wrap {
      width: 100%;
      position: relative;
      margin-bottom: 25px;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 104%;
        height: 104%;
        z-index: 0;
        background: url('@img/news/news-frame.svg') no-repeat center / contain;
      }
    }

    width: 100%;
    position: relative;
    z-index: 1;
  }

  &__desc {
    max-height: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 18px;
  }

  &__more {
    margin-top: auto;
  }
}

.faq {
  &__container {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px 30px;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }

  &__search {
    position: relative;

    &-field {
      padding-right: 50px;
      width: 190px;
    }

    &-btn {
      position: absolute;
      top: 50%;
      right: 0;
      height: 100%;
      padding-right: 15px;
      padding-left: 10px;
      transform: translateY(-50%);
    }

    &-icon {
      width: 24px;
      height: 24px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
  }

  &__item {
    margin-top: -1px;
    border-top: 1px solid $gray;
    border-bottom: 1px solid $gray;

    &-title {
      @extend %semibold-24-inter;
    }

    &-desc {
      margin-bottom: 31px;
    }
  }

  &__btn-download {
    &-wrap {
      text-align: center;
    }
  }
}

// Pages

.home-page {
  .popular-products {
    background: transparent;
  }
}

.hydrodirector-page {
  .device-hero {
    &__ellipse {
      &-wrap {
        width: 83.3%;

        @media (max-width: 991px) {
          width: 100%;

          @media (max-width: 575px) {
            height: 400px;
          }
        }
      }
    }

    &__info {
      flex-direction: column;
      padding: 0 20%;

      @media (max-width: 1199px) {
        padding: 0 15%;
      }

      @media (max-width: 991px) {
        padding: 0 10%;
      }

      @media (max-width: 575px) {
        padding: 0;
      }
    }

    &__title {
      @media (min-width: 576px) {
        margin-bottom: 19px;
      }
    }

    &__desc {
      max-width: 505px;

      @media (min-width: 576px) {
        align-self: flex-end;
        margin-bottom: 40px;
      }
    }

    &__btn-buy {
      @media (min-width: 576px) {
        align-self: flex-end;
      }
    }

    &__device {
      position: relative;
      margin-top: -96px;

      @media (max-width: 991px) {
        margin-top: -60px;
      }

      @media (max-width: 767px) {
        margin-top: 0;
      }

      &-img {}

      &-icon {
        &-wrap {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
        }
        &_1 {
          margin-top: -91px;
        }

        &_2 {
          margin-top: -75px;
        }

        &_3 {
          margin-top: -60px;
        }

        &_4 {
          margin-top: -58px;
        }

        &_5 {
          margin-top: -90px;
        }
      }
    }
  }

  .device-connecting {
    &__bg {
      &-wrap {
        height: calc(100% + 110px + 24px);
        margin-top: -110px;
        margin-bottom: -24px;
      }
    }
  }

  .device-installation {
    &__bg {
      &-wrap {
        margin-top: -98px;
        margin-bottom: -22px;
      }
    }
  }
}

.sensordirector-page {
  .device-hero {
    &__ellipse {
      &-wrap {
        width: calc(100% + 66px);

        @media (max-width: 991px) {
          width: 130%;
        }
      }
    }

    &__info {
      padding: 0 7.5%;

      @media (max-width: 1199px) {
        padding: 0 5%;
      }

      @media (max-width: 991px) {
        padding: 0 3.5%;
      }

      @media (max-width: 575px) {
        padding: 0;
      }
    }

    &__title {
      &-wrap {
        @media (min-width: 576px) {
          margin-right: 40px;
        }

        @media (max-width: 575px) {
          display: flex;
          flex-direction: column;
          gap: 20px;
          width: 100%;
        }
      }

      @media (min-width: 576px) {
        margin-bottom: 26px;
      }
    }

    &__desc {
      max-width: 342px;
    }

    &__device {
      @media (min-width: 576px) {
        margin-top: 22px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      &-img {
        justify-content: center;
        width: fit-content;
      }

      &-icon {
        &-wrap {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
        }
        &_1 {
          margin-top: -190px;
        }

        &_2 {
          margin-top: -97px;
        }

        &_3,
        &_4 {
          margin-top: -10px;
        }

        &_5 {
          margin-top: -15px;
        }
        &_6 {
          margin-top: -38px;
        }
        &_7 {
          margin-top: -120px;
        }
      }
    }
  }

  .device-connecting {
    &__bg {
      &-wrap {
        height: calc(100% + 85px - 21px);
        margin-top: -85px;
        margin-bottom: 21px;
      }
    }
  }

  .device-installation {
    &__bg {
      &-wrap {
        margin-top: -190px;
        margin-bottom: -35px;
      }
    }
  }
}

.drycontactdirector-page {
  .device-hero {
    &__ellipse {
      &-wrap {
        width: 89.3%;

        @media (max-width: 991px) {
          width: 100%;

          @media (max-width: 575px) {
            height: 400px;
          }
        }
      }
    }

    &__info {
      flex-direction: column;
      padding: 0 20%;

      @media (max-width: 1199px) {
        padding: 0 15%;
      }

      @media (max-width: 991px) {
        padding: 0 10%;
      }

      @media (max-width: 575px) {
        padding: 0;
      }
    }

    &__title {
      @media (min-width: 576px) {
        margin-bottom: 19px;
      }
    }

    &__desc {
      max-width: 365px;

      @media (min-width: 576px) {
        align-self: flex-end;
        margin-bottom: 40px;
      }
    }

    &__btn-buy {
      @media (min-width: 576px) {
        align-self: flex-end;
      }
    }

    &__device {
      margin-top: -96px;

      @media (max-width: 991px) {
        margin-top: -60px;
      }

      @media (max-width: 767px) {
        margin-top: 0;
      }
    }
  }

  .device-advantages {
    margin-bottom: 190px;

    &__container {
      position: relative;
      padding-bottom: 0;
    }

    &__bg {
      top: unset;
      right: -42px;
      bottom: -40px;
    }
  }

  .device-installation {
    &__bg {
      &-wrap {
        margin-top: -84px;
        margin-bottom: -22px;
      }
    }
  }
}

.socketdirector-page {
  .device-hero {
    &__ellipse {
      &-wrap {
        width: 89.3%;

        @media (max-width: 991px) {
          width: 100%;

          @media (max-width: 575px) {
            height: 400px;
          }
        }
      }
    }

    &__info {
      flex-direction: column;
      padding: 0 20%;

      @media (max-width: 1199px) {
        padding: 0 15%;
      }

      @media (max-width: 991px) {
        padding: 0 10%;
      }

      @media (max-width: 575px) {
        padding: 0;
      }

      @media (max-width: 991px) {
        margin-bottom: 30px;
      }
    }

    &__title {
      @media (min-width: 576px) {
        margin-bottom: 19px;
      }
    }

    &__desc {
      max-width: 615px;

      @media (min-width: 576px) {
        margin-bottom: 40px;
      }
    }

    &__device {
      margin-left: auto;
      margin-top: -41px;

      @media (max-width: 991px) {
        margin-top: 0px;
      }
    }
  }

  .device-advantages {
    &__container {
      padding-bottom: 277px;
    }

    &__list {
      justify-items: end;
    }

    &__bg {
      right: unset;
      left: 0;
      top: 284px;
    }
  }

  .device-installation {
    &__bg {
      &-wrap {
        margin-top: -97px;
        margin-bottom: -29px;
      }
    }
  }
}
