.header {
  margin-top: 33px;
  padding: 18px 0;

  &__container {
    display: flex;
    align-items: center;
    gap: 65px;
    justify-content: space-between;
  }

  &__logo {
    flex: none;
  }

  &__nav {
    margin-left: 80px;
  }

  &__social {
    margin-left: auto;
  }

  &__user-menu {
    display: flex;
    align-items: center;
    gap: 12px;

    &-icon {
      width: 28px;
      height: 28px;
    }
  }
}

.quiz {
  background: $gray-gradient;
  height: 633px;

  &__container {
    display: flex;
    align-items: center;
    gap: 54px;
  }

  &__video {
    &-block {
      position: relative;
      flex: none;
      height: 100%;
      margin-left: calc((-100vw + $container) / 2);
    }

    &-btn {
      position: absolute;
      z-index: 3;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &-icon {
      width: 89px;
      height: 89px;
      color: $white;
    }

    display: block;
    object-fit: cover;
  }

  &__content {
    margin-left: auto;
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 37px;

    &-icon {
      stroke: $white;
      flex: none;
      width: 64px;
      height: 64px;
    }

    &-heading {
      @extend %semibold-38-inter;
    }
  }

  &__slider {
    &-title {
      display: flex;
      align-items: center;
      gap: 10px;
      @extend %medium-30-inter;
      margin-bottom: 30px;

      &-pagination {
        color: $green;
      }
    }
  }

  &__slide {
    width: 100%;
    padding: 33px 38px 37px;
    background: $white;
    border-radius: 12px;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.08);
  }

  &__form {
    &-content {
      display: flex;
      flex-direction: column;
      gap: 21px;
    }

    &-label {
      display: flex;
      align-items: center;
      gap: 15px
    }

    &-text {
      @extend %regular-22-gilroy;
    }
  }
}

.product-list {
  &__container {
    padding: 70px 0;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__more {
    display: flex;
    align-items: center;
    gap: 18px;
    @extend %regular-17-gilroy;

    &-icon {
      width: 30px;
      height: 16px;
      color: $green;
    }
  }

  &__desc {
    margin-bottom: 20px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
      @extend %semibold-24-inter;
      margin-bottom: 11px;
    }

    &-price {
      @extend %medium-30-inter;
      margin-bottom: 18px;
    }

    &-btn {
      padding-left: calc($btn-hz-p * 1.6);
      padding-right: calc($btn-hz-p * 1.6);
    }
  }
}

.subscribe-news {
  background: $blue-gradient;
  color: $white;

  &__container {
    padding-top: 55px;
    padding-bottom: 67px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: url('@img/subscribe-news-bg.png') no-repeat top right;
      margin-right: calc((-100vw + 1110px) / 2 + 6.22%);
    }
  }

  &__text-block {
    margin-bottom: 34px;
  }

  &__title {
    @extend %semibold-48-inter;
    margin-bottom: 8px;
  }

  &__form {
    display: flex;
    gap: 18px;
  }

  &__btn {
    padding-left: calc($btn-hz-p * 3);
    padding-right: calc($btn-hz-p * 3);
  }
}

.about-app {
  &__container {
    padding-top: 70px;
    padding-bottom: 80px;
  }

  &__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
  }

  &__title {
    @extend %semibold-48-inter;
    margin-bottom: 47px;
  }

  &__phone {
    &-wrap {
      width: 307px;
    }

    background: url('@img/phone.png') no-repeat center / contain;
    padding-bottom: 204.23%;
  }

  &__right {
    padding-top: 17px;
  }

  &__desc {
    margin-bottom: 45px;
  }

  &__list {
    gap: 34px 0;
    margin-bottom: 52px;
    counter-reset: css-counter 0;
  }

  &__item {
    &-title {
      counter-increment: css-counter 1;
      display: flex;
      align-items: center;
      gap: 13px;
      @extend %medium-24-inter;
      margin-bottom: 8px;

      &::before {
        content: "0"counter(css-counter);
        @extend %semibold-24-inter;
        color: $green;
      }
    }
  }

  &__app {
    &-wrap {
      display: flex;
      align-items: center;
      gap: 40px;
    }
  }
}

.current-news {
  background: $gray-gradient;
  &__container {
    padding: 70px 0;
  }
  &__title {
    margin-bottom: 28px;
  }
  .slider__wrapper {
    flex-wrap: nowrap;
  }
  &__item {
    display: flex;
    flex-direction: column;
    &-img {
      &-wrap {
        position: relative;
        width: fit-content;
        margin-bottom: 16px;
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          width: 106.67%;
          height: 106.67%;
          z-index: 0;
          background: url('@img/current-news-frame.jpg') no-repeat center / contain;
        }
      }
      position: relative;
      z-index: 3;
      border-radius: 12px;
      display: block;
    }

    &-desc {
      &-wrap {
        position: absolute;
        z-index: 3;
        bottom: 0;
        left: 0;
        right: 0;
        @extend %regular-15-gilroy;
        margin: 0 auto;
        padding: 12px;
        background: $white;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
      }

    }

    &-title {
      @extend %medium-24-inter;
    }
  }
}

.home {
  &-hero {
    background: $gray-gradient;

    .slider {
      position: relative;
      height: 600px;

      &__slide {
        height: 100%;

        &-1 {
          position: relative;

          &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background: url('@img/hero-bg.png') no-repeat top right / auto 100%;
            margin-right: calc((-100vw + $container) / 2);
            padding-right: calc((100vw - $container) / 2);
          }
        }

        padding-top: 72px;
      }

      &__btn-wrap {
        bottom: 72px;
      }
    }

    &__title {
      @extend %bold-65-inter;
      margin-bottom: 19px;
    }

    &__desc {
      @extend %regular-17-gilroy;
      margin-bottom: 30px;
    }

    &__btn-wrap {
      display: flex;
      align-items: center;
      gap: 45px;
    }
  }

  &-benefits {
    &__container {
      padding: 72px 0;
    }

    &__title {
      margin-bottom: 42px;
    }

    &__list {
      gap: 58px 0;
    }

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    &__icon {
      width: 84px;
      height: 84px;
    }

    &__heading {
      @extend %medium-30-inter;
      margin-bottom: 10px;
    }

    &__link {
      display: flex;
      align-items: center;
      gap: 12px;

      &-text {
        @extend %regular-16-gilroy;
      }

      &-icon {
        color: $black;
        width: 15px;
        height: 8px;
      }
    }
  }
}
