include ./html/mixins.pug
include ./html/header.pug
doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Каталог
    link(rel="stylesheet", href="./css/style.min.css")
    script(defer src="./js/app.min.js")
  body.catalog-page
      +discount
      +header()

      main.main 
        section.catalog-products
          .container.catalog-products__container
            +sectionTitle('Products','catalog-products__title')
            ul.catalog-products__list.catalog-products__list_flex.row
              -
                const products = [
                  ['HydroDirector','$635'],
                  ['DryContactDirector','$365'],
                  ['SensorDirector','$365'],
                  ['SocketDirector','$365'],
                  ['DimmingDirector','$520'],
                  ['ServerDirector','$1 335'],
                  ['Temperature&Humidity sensor','$55'],
                  ['Soil moisture sensor','$130'],
                  ['LUX sensor','$130'],
                  ['PAR sensor','$655'],
                  ['pH sensor','$335'],
                  ['EC sensor','$375'],
                  ['DO sensor','$455'],
                  ['ORP sensor','$455'],
                  ['CO2','$130'],
                  ['Flow Meter','$32']
                ]
              each value, idx in products
                li.catalog-products__item.col-lg-4.col-6
                  .catalog-products__img-wrap
                    img.catalog-products__img(src="@img/catalog/catalog-product-"+(idx + 1)+".jpg", alt="Product")
                  strong.catalog-products__name= value[0]
                  span.catalog-products__price= value[1]
                  +link('green','Open a shop','./product-page.html','catalog-products__btn')
        
        +sectionPopularProducts('Готовое решение')

 
      include ./html/footer.pug