include ./html/mixins.pug
include ./html/header.pug
doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Главная страница
    link(rel="stylesheet", href="./css/style.min.css")
    script(defer src="./js/app.min.js")
  body.home
      +discount
      +header()

      main.main 
        section.presentation
          .container.presentation__container
            .slider.slider-1.presentation__slider
              ul.slider__wrapper
                li.slider__slide
                  img.presentation__bg(src="@img/presentation-bg.png", alt="")
                  .presentation__text-block
                    h1.presentation__title.col-xl-7.col-md-8.col-sm-10.col Grow faster, bigger, easier with us
                    p.presentation__desc.col-xl-4.col-md-5.col-sm-7.col We've got you covered with fully automated remote environmental controller
                    .presentation__btn-wrap 
                      +link('green','Select device','#','presentation__btn')
                      +btnVideo('presentation__btn-video')
              .container.slider__btn-wrap
                button.slider__btn.slider__btn_prev(type="button")
                  svg.slider__btn-icon
                    use(xlink:href="@img/sprite.svg#chevron")
                span.slider__active-slide 3
                button.slider__btn.slider__btn_next(type="button")
                  svg.slider__btn-icon
                    use(xlink:href="@img/sprite.svg#chevron")
        
        section.benefits
          .container.benefits__container
            +sectionTitle('Benefits of GrowDirector Pro','benefits__title')
            ul.benefits__list.row
              -
                const values = [
                  'Easy to use', 
                  'Access from anywhere', 
                  'Set it fast', '3-year warranty ', 
                  'Open API', 'Scalability'
                ]
              each val, idx in values
                li.benefits__item.col-sm-4.col-6
                  svg.benefits__icon
                    use(xlink:href="@img/sprite.svg#home-benefit-" + (+idx + 1))
                  h3.benefits__heading= val
                  a.benefits__link(href="#")
                    span.benefits__link-text More information
                    svg.benefits__link-icon
                      use(xlink:href="@img/sprite.svg#arrow-long")
        
        section.quiz
          .container
            .quiz__container
              .quiz__video-block
                button.quiz__video-btn(type="button")
                  svg.quiz__video-icon
                    use(xlink:href="@img/sprite.svg#video-play")
                video.quiz__video(src="#" poster="@img/quiz-video-preview.jpg") 
              .quiz__content
                .quiz__title 
                  svg.quiz__title-icon
                    use(xlink:href="@img/sprite.svg#question-mark")
                  h2.quiz__title-heading Just answer 5 questions and we'll find the right kit for you!
                form.quiz__form(action="#") 
                  .slider.slider-2.quiz__slider
                    ul.slider__wrapper
                      li.slider__slide.quiz__slide
                        h3.quiz__slider-title
                          span.quiz__slider-title-pagination
                            span.quiz__slider-title_pagination_this 1
                            | /
                            span.quiz__slider-title_pagination_all 5
                          span.quiz__slider-title-text How big is the grow area? 
                        .quiz__form-content
                          label.quiz__form-label
                            input.radio.visually-hidden(type="radio" checked name="quiz-first" value="1")
                            span.radio__custom
                            span.quiz__form-text Large: &gt; 500
                          label.quiz__form-label
                            input.radio.visually-hidden(type="radio" name="quiz-first" value="2")
                            span.radio__custom
                            span.quiz__form-text Medium: 100-500
                          label.quiz__form-label
                            input.radio.visually-hidden(type="radio" name="quiz-first" value="3")
                            span.radio__custom
                            span.quiz__form-text Small: &lt; 100
                        .slider__btn-wrap
                          button.slider__btn.slider__btn_prev(type="button" disabled)
                            svg.slider__btn-icon
                              use(xlink:href="@img/sprite.svg#arrow-long")
                          button.slider__btn.slider__btn_next(type="button" )
                            svg.slider__btn-icon
                              use(xlink:href="@img/sprite.svg#arrow-long")

        section.popular-products
          .container.popular-products__container
            .popular-products__top 
              +sectionTitle('Bestsellers','popular-products__title')
              a.popular-products__more(href="#") 
                span.popular-products__more-text All products
                svg.popular-products__more-icon
                  use(xlink:href="@img/sprite.svg#arrow-long")
            p.popular-products__desc.col-4 Introducing our innovative and accessible devices to automate it all
            ul.popular-products__list.row
              li.popular-products__item.col-4
                img.popular-products__item-img(src="@img/product-1.png", alt="Product")
                strong.popular-products__item-title HydroDirector
                span.popular-products__item-price $635
                +link('green','Open a shop','#','popular-products__item-btn')
              li.popular-products__item.col-4
                img.popular-products__item-img(src="@img/product-2.png", alt="Product")
                strong.popular-products__item-title DryContactDirector
                span.popular-products__item-price $365
                +link('green','Open a shop','#','popular-products__item-btn')
              li.popular-products__item.col-4
                img.popular-products__item-img(src="@img/product-3.png", alt="Product")
                strong.popular-products__item-title SensorDirector
                span.popular-products__item-price $365
                +link('green','Open a shop','#','popular-products__item-btn')
            
        section.subscribe-news
          .container.subscribe-news__container
            .subscribe-news__text-block.col-6
              h2.subscribe-news__title Subscribe to news
              p.subscribe-news__desc Stay up to date with all discounts, promotions and updates - subscribe to the notification mailing list
            form.subscribe-news__form(action="#").row
              input.white.subscribe-news__input.col-5(type="email" placeholder="Your email")
              +btn('green','Send',0,'subscribe-news__btn')

        section.about-app
          .container.about-app__container.row
            .about-app__left
              +sectionTitle('About the app','about-app__title')
              img.about-app__phone(src="@img/phone.png", alt="")
            .col-1
            .about-app__right.col-6
              p.about-app__desc Control all the sensors and equipment in your greenhouse or grow room from your phone, tablet or laptop. All kinds of media can be automated: from hydroponics to soil and everything in between. Controls any sensor, like temperature, humidity, CO2, VPD, EC, pH, DO, ORP, PAR, LUX, soil moisture and EC, flow meter, and many more to come. You can control anything in your greenhouse (light, irrigation, ventilation, etc.).
              ol.about-app__list.row
                li.about-app__item.col-6
                  h3.about-app__item-title Data analytics 
                  p.about-app__item-desc Data are available in the form of excel tables and charts. Reports can be downloaded in a convenient format and integrated into pre-set growing recipes.
                li.about-app__item.col-6
                  h3.about-app__item-title Push notifications 
                  p.about-app__item-desc Prevents and eliminates critical situations automatically.  Notifies you if there's a problem. 
                li.about-app__item
                  h3.about-app__item-title Simple to use
                  p.about-app__item-desc User-friendly interface. Grow Director Pro can control up to 16,000 devices and merge them into one system, or divide them into different zones.
              .about-app__app-wrap 
                a.about-app__app(href="#") 
                  img.about-app__app-img(src="@img/google-play.png", alt="Download App")
                a.about-app__app(href="#") 
                  img.about-app__app-img(src="@img/app-store.png", alt="Download App")

        section.current-news
          .container.current-news__container 
            +sectionTitle('Current news from GrowDirector Pro','current-news__title')
            .slider.slider-3.current-news__item
              ul.slider__wrapper.row
                li.slider__slide.current-news__item.col-3
                  .current-news__item-img-wrap
                    img.current-news__item-img(src="@img/current-news-1.jpg", alt="Novelty")
                  h3.current-news__item-title Indoor Growing
                li.slider__slide.current-news__item.col-3
                  .current-news__item-img-wrap
                    img.current-news__item-img(src="@img/current-news-2.jpg", alt="Novelty")
                    .current-news__item-desc-wrap 
                      p.current-news__item-desc Hydroponics is a modern method of growing plants in a closed and controlled ecological system. A large variety of plants do not ...
                  h3.current-news__item-title Hydroponic Growing
                li.slider__slide.current-news__item.col-3
                  .current-news__item-img-wrap
                    img.current-news__item-img(src="@img/current-news-3.jpg", alt="Novelty")
                  h3.current-news__item-title Home-based urban agriculture
                li.slider__slide.current-news__item.col-3
                  .current-news__item-img-wrap
                    img.current-news__item-img(src="@img/current-news-4.jpg", alt="Novelty")
                  h3.current-news__item-title Greenhouse growing
                li.slider__slide.current-news__item.col-3
                  .current-news__item-img-wrap
                    img.current-news__item-img(src="@img/current-news-5.jpg", alt="Novelty")
                  h3.current-news__item-title Indoor Growing
              .slider__btn-wrap
                button.slider__btn.slider__btn_prev(type="button" disabled)
                  svg.slider__btn-icon
                    use(xlink:href="@img/sprite.svg#arrow-long")
                button.slider__btn.slider__btn_next(type="button")
                  svg.slider__btn-icon
                    use(xlink:href="@img/sprite.svg#arrow-long")
        
        section.review
          .container.review__container 
            .review__text-block
              +sectionTitle('Reviews','review__title')
              p.review__desc Users love GrowDirector Pro, so that's the best proof.
            .slider.slider-4.review__slider.col-10
              ul.slider__wrapper
                li.slider__slide.review__item 
                  .review__item-person
                    img.review__item-avatar(src="@img/avatar.png", alt="Face")
                    strong.review__item-name David
                    span.review__item-info from Youth Village explains
                  .review__item-content
                    h3.review__item-title Our two Hydroponic Boxes &amp; Grow Director 🎛️ are now installed at The Youth Village Learning Center 🙌
                    +link('green-trs','Read more','#','review__item-more')
              .slider__btn-wrap
                button.slider__btn.slider__btn_prev(type="button")
                  svg.slider__btn-icon
                    use(xlink:href="@img/sprite.svg#arrow-long")
                button.slider__btn.slider__btn_next(type="button")
                  svg.slider__btn-icon
                    use(xlink:href="@img/sprite.svg#arrow-long")

        section.partners
          .container.partners__container 
            .partners__text-block.col-6
              +sectionTitle('Partners who trust us','partners__title')
              +link('green','Start a collaboration','#','partners__btn')
            .partners__img-wrap.col-8
              img.partners__img(src="@img/partner-5.png", alt="Partner Logo")
              img.partners__img(src="@img/partner-4.png", alt="Partner Logo")
              img.partners__img(src="@img/partner-3.png", alt="Partner Logo")
              img.partners__img(src="@img/partner-2.svg", alt="Partner Logo")
              img.partners__img(src="@img/partner-1.png", alt="Partner Logo")
            p.partners__info It's great for hydroponics or whatever growing media you want to use.

        section.contacts
          .container.contacts__container.row
            .contacts__content.col-7
              h2.contacts__title Contact form
              p.contacts__desc To ask any question? Leave your contact details for free consultation with rus. 
              form.contacts__form(action="#") 
                .contacts__field-wrap
                  input.contacts__field.white.big(type="text" placeholder="Name")
                  input.contacts__field.white.big(type="email" placeholder="Email")
                textarea.contacts__field.contacts__textarea.white.big(name="question" placeholder="Add your question")
                +btn('green','Callback',0,'contacts__btn')
            .col-1
      
      include ./html/footer.pug
















