include ./html/mixins.pug
include ./html/header.pug
doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="./css/style.min.css")
    script(defer src="./js/app.min.js")
  body 
    .home
      +header()
      main.main 
        section.home-hero
          .container.home-hero__container
            .slider-nav.home-hero__slider
              ul.slider-nav__wrapper
                li.slider-nav__slide.slider-nav__slide-1
                  .home-hero__text-block
                    h1.home-hero__title.col-7 Grow faster, bigger, easier with us
                    p.home-hero__desc.col-4 We've got you covered with fully automated remote environmental controller
                    .home-hero__btn-wrap 
                      +btn('green','Select device',1,'home-hero__btn')
                      +btnVideo('home-hero__btn-video')
              .slider-nav__btn-wrap
                button.slider-nav__btn.slider-nav__btn_prev
                  svg.slider-nav__btn-icon
                    use(xlink:href="@img/sprite.svg#chevron")
                span.slider-nav__active-slide 3
                button.slider-nav__btn.slider-nav__btn_next
                  svg.slider-nav__btn-icon
                    use(xlink:href="@img/sprite.svg#chevron")
        
        section.home-benefits
          .container.home-benefits__container
            +sectionTitle('Benefits of GrowDirector Pro','home-benefits__title')
            ul.home-benefits__list 
              -
                const values = [
                  'Easy to use', 
                  'Access from anywhere', 
                  'Set it fast', '3-year warranty ', 
                  'Open API', 'Scalability'
                ]
              each val, idx in values
                li.home-benefits__item.col-4
                  svg.home-benefits__icon
                    use(xlink:href="@img/sprite.svg#home-benefit-" + (+idx + 1))
                  h3.home-benefits__heading= val
                  a.home-benefits__link(href="#")
                    span.home-benefits__link-text More information
                    svg.home-benefits__link-icon
                      use(xlink:href="@img/sprite.svg#arrow-15")
        
        section.home-quiz
          .container
            .home-quiz__container
              .home-quiz__video-block.col-6
                button.home-quiz__video-btn(type="button")
                  svg.home-quiz__video-icon
                    use(xlink:href="@img/sprite.svg#video-play")
                video.home-quiz__video(src="#" poster="@img/header/quiz-video-preview.jpg") 
              .home-quiz__content
                .home-quiz__title 
                  svg.home-quiz__title-icon
                    use(xlink:href="@img/sprite.svg#question-mark")
                  h2.home-quiz__title-heading Just answer 5 questions and we'll find the right kit for you!
                form.home-quiz__form
                  .slider-quiz.home-quiz__slider
                    ul.slider-quiz__wrapper
                      li.slider-quiz__slide.home-quiz__slide
                        h3.home-quiz__slide-title
                          span.home-quiz__slide-title-pagination
                            span.home-quiz__slide-title_pagination_this 1
                            | /
                            span.home-quiz__slide-title_pagination_all 5
                          span.home-quiz__slide-title-text How big is the grow area? 
                        .home-quiz__form-content
                          label.home-quiz__form-label
                            input.radio.visually-hidden(type="radio" checked name="quiz-first" value="1")
                            span.radio__custom
                            span.home-quiz__form-text Large: &gt; 500
                          label.home-quiz__form-label
                            input.radio.visually-hidden(type="radio" name="quiz-first" value="2")
                            span.radio__custom
                            span.home-quiz__form-text Medium: 100-500
                          label.home-quiz__form-label
                            input.radio.visually-hidden(type="radio" name="quiz-first" value="3")
                            span.radio__custom
                            span.home-quiz__form-text Small: &lt; 100
                        .slider-quiz__btn-wrap
                          button.slider-quiz__btn.slider-quiz__btn_prev(type="button" disabled)
                            svg.slider-quiz__btn-icon
                              use(xlink:href="@img/sprite.svg#arrow-15")
                          button.slider-quiz__btn.slider-quiz__btn_next(type="button" )
                            svg.slider-quiz__btn-icon
                              use(xlink:href="@img/sprite.svg#arrow-15")





















