include ./html/mixins.pug
include ./html/header.pug
doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title SensorDirector
    link(rel="stylesheet", href="./css/style.min.css")
    script(defer src="./js/app.min.js")
  body.sensordirector-page
      +discount
      +header()

      main.main 

        section.device-hero
          .container.device-hero__container
            .device-hero__ellipse-wrap
              img.device-hero__ellipse(src="@img/sensordirector/hero-ellipse.svg", alt="")
            .device-hero__info
              .device-hero__title-wrap
                h1.device-hero__title SensorDirector
                +link('white','Заказать','product-page.html','device-hero__btn-buy')
              p.device-hero__desc Создай идеальные условия для выращивания: Контролируй и настраивай все сенсоры через одно устройство с помощью нашего приложения! 
            img.device-hero__device(src="@img/sensordirector/hero-bg.png", alt="Hydrodirector")
            p.device-hero__text
              | С помощью 
              span.device-hero__text_green  SensorDirector вы можете объединить до 64 000 IOT wireless сенсоров в одну систему,
              |  что дает неограниченные возможности и перспективы для вашей теплицы.
            +link('green','Download manual','#','device-hero__btn-download')

        section.device-advantages
          .container.device-advantages__container
            img.device-advantages__bg(src="@img/sensordirector/advantages.png", alt="")
            +sectionTitle('Что он может?','device-advantages__title')
            ul.device-advantages__list.row
              li.device-advantages__item.col-lg-5
                .device-advantages__icon-wrap
                  img.device-advantages__icon(src="@img/device-advantages/advantage-3.svg", alt="")
                p.device-advantages__desc Удаленно передавать данные с подключенных сенсоров в приложение на вашем мобильном устройстве
              li.device-advantages__item.col-lg-5
                .device-advantages__icon-wrap
                  img.device-advantages__icon(src="@img/device-advantages/advantage-4.svg", alt="")
                p.device-advantages__desc Помогает автоматически настроить работу всех систем в совокупности для поддержания заданных показателей сенсоров для теплицы.
              li.device-advantages__item.col-lg-5
                .device-advantages__icon-wrap
                  img.device-advantages__icon(src="@img/device-advantages/advantage-9.svg", alt="")
                p.device-advantages__desc Умеет работать даже, если связь с сенсором потеряна
              li.device-advantages__item.col-lg-5
                .device-advantages__icon-wrap
                  img.device-advantages__icon(src="@img/device-advantages/advantage-6.svg", alt="")
                p.device-advantages__desc Создавать отдельные климатические зоны с различными условиями выращивания
              li.device-advantages__item.col-lg-8
                .device-advantages__icon-wrap
                  img.device-advantages__icon(src="@img/device-advantages/advantage-10.svg", alt="")
                p.device-advantages__desc Автоматически отслеживать и предотвращать аварийные ситуации с помощью отправки уведомлений онлайн на ваше мобильное устройство, минимизировать их последствия. Также определяет тип возможных поломок благодаря системе искусственного интеллекта.
        
        section.pluggable-sensors
          .container.pluggable-sensors__container 
            h2.pluggable-sensors__title Подключаемые сенсоры:
            ul.pluggable-sensors__list.row
              li.pluggable-sensors__item.col-lg-3.col-md-4.col-sm-6.col-12
                .pluggable-sensors__icon-wrap 
                  img.pluggable-sensors__img(src="@img/pluggable-sensors/sensor-2.png", alt="pluggable-sensors sensors")
                strong.pluggable-sensors__name LUX
              li.pluggable-sensors__item.col-lg-3.col-md-4.col-sm-6.col-12
                .pluggable-sensors__icon-wrap 
                  img.pluggable-sensors__img(src="@img/pluggable-sensors/sensor-3.png", alt="pluggable-sensors sensors")
                strong.pluggable-sensors__name PAR sensors
              li.pluggable-sensors__item.col-lg-3.col-md-4.col-sm-6.col-12
                .pluggable-sensors__icon-wrap 
                  img.pluggable-sensors__img(src="@img/pluggable-sensors/sensor-1.png", alt="pluggable-sensors sensors")
                  p.pluggable-sensors__item-info EAir temp &amp; humidity &amp; VPD
                strong.pluggable-sensors__name Flow meter
              li.pluggable-sensors__item.col-lg-3.col-md-4.col-sm-6.col-12
                .pluggable-sensors__icon-wrap 
                  img.pluggable-sensors__img(src="@img/pluggable-sensors/sensor-1.png", alt="pluggable-sensors sensors")
                strong.pluggable-sensors__name Soil EC
              li.pluggable-sensors__item.col-lg-3.col-md-4.col-sm-6.col-12
                .pluggable-sensors__icon-wrap 
                  img.pluggable-sensors__img(src="@img/pluggable-sensors/sensor-6.png", alt="pluggable-sensors sensors")
                strong.pluggable-sensors__name CO2
              li.pluggable-sensors__item.col-lg-3.col-md-4.col-sm-6.col-12
                .pluggable-sensors__icon-wrap 
                  img.pluggable-sensors__img(src="@img/pluggable-sensors/sensor-5.png", alt="pluggable-sensors sensors")
                strong.pluggable-sensors__name Soil moisture
              li.pluggable-sensors__item.col-lg-3.col-md-4.col-sm-6.col-12
                .pluggable-sensors__icon-wrap 
                  img.pluggable-sensors__img(src="@img/pluggable-sensors/sensor-4.png", alt="pluggable-sensors sensors")
                strong.pluggable-sensors__name Air temp &amp; humidity &amp; VPD
              
        section.device-equipped
          .container.device-equipped__container
            img.device-equipped__bg(src="@img/sensordirector/device.png", alt="")
            h2.device-equipped__title Каждый девайс оснащён:
            ul.device-equipped__list.device-equipped__list_flex.row
              li.device-equipped__item.col-lg-4.col-md-6
                .device-equipped__desc
                  p.device-equipped__text 4 разъема для подключения сенсоров (вы можете комбинировать сенсоры на своё усмотрение)
              li.device-equipped__item.col-lg-4.col-md-6
                .device-equipped__desc
                  p.device-equipped__text Держатель для крепления к вертикальным поверхностям
              li.device-equipped__item.col-lg-4.col-md-6
                .device-equipped__desc
                  p.device-equipped__text Системой Wi-Fi MESH connection для установления 
              li.device-equipped__item.col-md-6
                .device-equipped__desc
                  p.device-equipped__text Встроенным уникальным софтом,который позволяет очень просто задавать сложные настройки и контролировать их, и предотвращать ошибки пользователя 
              li.device-equipped__item.col-md-6
                .device-equipped__desc
                  p.device-equipped__text Системой Wi-Fi MESH connection для установления соединения с вашим телефоном, лэптопом или планшетом

        +sectionApplication('Sensor Director настраивается и связывается с другими устройствами')

        +sectionDeviceConnecting('Sensor Director','@img/sensordirector/connecting.png')

        +sectionDeviceCharacteristics

        +sectionDeviceInstallation('@img/sensordirector/installation.png')

        +sectionPopularProducts('Этот девайс идеально сочетается с:')

      include ./html/footer.pug