include ./html/mixins.pug
include ./html/header.pug
doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title SocketDirector
    link(rel="stylesheet", href="./css/style.min.css")
    script(defer src="./js/app.min.js")
  body.socketdirector-page
      +discount
      +header()

      main.main 

        section.device-hero
          .container.device-hero__container.row
            .device-hero__ellipse-wrap
              img.device-hero__ellipse(src="@img/drycontactdirector/hero-ellipse.svg", alt="")
            .col-md-2
            .device-hero__info.device-hero__info_black.col-md-7.col-12
              h1.device-hero__title SocketDirector
              p.device-hero__desc.col-12.col-sm-6.col-md-12 Экономь время - автоматизируй работу электрических приборов и управляй ими удаленно с помощью этого девайса.
              +link('green','Заказать','#','device-about__btn-buy')
            img.device-hero__device(src="@img/socketdirector/hero-bg.png", alt="Hydrodirector")
            p.device-hero__text
              | Идеальное решение для профессиональных теплиц
              span.device-hero__text_green  с большим количеством устройств
              |  or for multiple low voltage devices such as irrigation etc.!
            +link('green','Download manual','#','device-about__btn-download')

        section.device-advantages
          img.device-advantages__bg(src="@img/socketdirector/advantages.svg", alt="")
          .container.device-advantages__container
            +sectionTitle('Что он может?','device-advantages__title')
            ul.device-advantages__list.row
              li.device-advantages__item.device-advantages__item_row
                .device-advantages__icon-wrap
                  img.device-advantages__icon(src="@img/device-advantages/advantage-13.svg", alt="")
                p.device-advantages__desc Сan control any device 110-220v.
              li.device-advantages__item.device-advantages__item_row
                .device-advantages__icon-wrap
                  img.device-advantages__icon(src="@img/device-advantages/advantage-4.svg", alt="")
                p.device-advantages__desc Объединять до 32 000 устройств в одну систему
              li.device-advantages__item.device-advantages__item_row
                .device-advantages__icon-wrap
                  img.device-advantages__icon(src="@img/device-advantages/advantage-5.svg", alt="")
                p.device-advantages__desc Удаленно передает данные о работе устройств и их состоянии. 
              li.device-advantages__item.col-lg-4
                .device-advantages__icon-wrap
                  img.device-advantages__icon(src="@img/device-advantages/advantage-12.svg", alt="")
                p.device-advantages__desc Отслеживают неисправности приборов и отправляют уведомления на ваше мобильное устройство.
              li.device-advantages__item.col-lg-4
                .device-advantages__icon-wrap
                  img.device-advantages__icon(src="@img/device-advantages/advantage-14.svg", alt="")
                p.device-advantages__desc С помощью приложения через этот девайс все подключенные устройства объединяются в единую систему и функционируют согласно заданным настройкам для поддержания заданных параметров. 
              li.device-advantages__item.col-lg-4
                .device-advantages__icon-wrap
                  img.device-advantages__icon(src="@img/device-advantages/advantage-7.svg", alt="")
                p.device-advantages__desc Задает всевозможные настройки и автоматизирует работу подключенных устройств. 
              
        section.device-equipped
          .container.device-equipped__container
            img.device-equipped__bg(src="@img/drycontactdirector/device.png", alt="")
            h2.device-equipped__title Каждый девайс оснащён:
            ul.device-equipped__list.row
              li.device-equipped__item
                .device-equipped__desc
                  p.device-equipped__text 2 встроенными розетками для подключения электрических устройств (3 типа розеток на выбор - US, EU, UK)
              li.device-equipped__item
                .device-equipped__desc
                  p.device-equipped__text Проводом для подключения в сеть 110/230V.
              li.device-equipped__item
                .device-equipped__desc
                  p.device-equipped__text Системой Wi-Fi MESH connection для установления соединения с вашим телефоном, лэптопом или планшетом
              li.device-equipped__item
                .device-equipped__desc
                  p.device-equipped__text Держатель для крепления к вертикальным поверхностям
              li.device-equipped__item
                .device-equipped__desc
                  p.device-equipped__text Встроенным уникальным софтом,который позволяет очень просто задавать сложные настройки и контролировать их, предотвращая ошибки пользователя.


        +sectionApplication('SocketDirector настраивается и связывается с другими устройствами')

        +sectionDeviceCharacteristics

        +sectionDeviceInstallation('@img/socketdirector/installation.png')

        +sectionPopularProducts('Этот девайс идеально сочетается с:')

      include ./html/footer.pug